

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: condensed-gothic;
    src: url("fonts/LeagueGothic-CondensedRegular.otf");
}

@font-face {
    font-family: livemono;
    src: url("fonts/Livemono.otf");
}


@font-face {
    font-family: conditalic-gothic;
    src: url("fonts/LeagueGothic-CondensedItalic.otf");
}

@font-face {
    font-family: medium-unique;
    src: url("fonts/medium-unique.ttf");
}

*{
    cursor: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }


.slider-pagination{
    @apply w-4 h-4 relative block bg-slate-400 rounded-full transition-all opacity-30
}

.actual-slider-pagination{
    @apply w-5 h-5 relative block bg-white rounded-full transition-all opacity-30
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom:6% !important;
}